.accountWrapper {
    width: 100vw;
    height: fit-content;
    background-color: rgb(187, 221, 250);
    display: flex;
    flex-direction: row;
}

.pageInfo {
    width: 75%;
    min-height: 100vh;
    height: fit-content;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#rating {
    margin-left: 0.5vw;
}

.resCards {
    display: flex;
    width: auto;
    min-height: 100%;
    height: auto;
    
}

.accountInfo {
    min-width: 25%;
    width: auto;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #e3f2fd;
}