.homeDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?t=st=1717278936~exp=1717282536~hmac=fd0da4ee16f6956fdc0a927ade7c1699b6f538438014e66123a17aa15a371419&w=1380") no-repeat;
  background-size: 100%;
}

.textDiv {
  width: 53vw;
  height: 67vh;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0vw 0.1vw 2vw rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(0.1vw);
}

.homeText {
  width: 50vw;
  min-height: 60vh;
  height: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 60vw;
    width: auto;
    margin-top: 2vh;
}
