.loginContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.loginBox {
    width: 33vw;
    height: 70vh;
    box-shadow: 0vw 0.1vw 2vw rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(0.1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    border-radius: 1vw;
    background-color: white;
}

.loginBox h1 {
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.loginBox button {
    margin-left: 13vw;
}